<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('platformForm')"/>
<div id="main" class="container">

            <h1>Dodaj/edytuj kategorię</h1>
            <form th:method="POST" th:object="${platform}" th:action="@{/platformForm}">
                <div class="form-group">
                    <input type="text" name="name" th:value="*{name}"
                           class="form-control" th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                           placeholder="Nazwa produktu" required="true" autofocus="true"/>
                    <div class="error text-danger" th:if="${#fields.hasErrors('name')}">
                        <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="hidden" th:field="*{id}"/>
                        <input
                                type="hidden"
                                th:name="${_csrf.parameterName}"
                                th:value="${_csrf.token}"/>
                    </div>
                </div>
            </form>

</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>